/*Follows HTML skeleton*/
/*Try not to use the IDs according to Joe and Greg*/
/*body*/
h1 {
	text-align: center;
	color:mintcream;
	margin-left: auto;
	margin-right: auto;
	
}
body {
	background-image: url(../images/AuroraBorealis.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
}
#personalPhoto{

}
#bio{

}
#siteSources{
	border: solid;
	border-color: lavender;
	background-color: antiquewhite;
}
#futureProjects{
	color: mintcream;
}
.future{
	object-fit: contain;
}
#blogPosts{
	border:solid;
	border-radius: 5%;
	background-image: url(../images/futureBuilding.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	
	
}
.blog h3{
	text-align: -webkit-center;
    border: solid;
    border-color: royalblue;
    max-width: 264px;
    min-height: 45px;
    border-radius: 50%;
    padding: 18px;
    margin-right: auto;
    margin-left: auto;
    color: aliceblue;
    background-image: url(../images/GrandCanyon.jpg);
}
.content{
	text-align: -webkit-center;
	color: darkblue;
	background-color: antiquewhite;
	border: solid;
	border-radius: 50%;
	border-color: black;
	padding: 35px;

}
.day{
	text-align: -webkit-center;
	border: solid;
	border-color: black;
	max-width: 70px;
	min-height: 15px;
	border-radius: 50%;
	padding: 5px;
	margin-right: auto;
	margin-left: auto;
	color: mediumseagreen;
	background-image: url(../images/CheckeredFlag.jpg);
}
/*footer*/
.socialM{

}
