/*Follows HTML skeleton*/
/*Try not to use the IDs according to Joe and Greg*/
/*body*/
#personalPhoto{

}
#bio{

}
#siteSources{

}
#futureProjects{

}
.future{
	object-fit: contain;
}
#blogPosts{

}
.blog h3{
	text-align: center;
	border: solid;
	max-width: 150px;
	min-height: 30px;
	background-image: url('../images/CheckeredFlag.jpg')
	

}
.day{

}
/*footer*/
.socialM{

}
